body {
	font-family: "Fira Code", Arial, Helvetica, sans-serif;
}

body, h1, h2, h3, figure, input {
	margin: 0;
	padding: 0;
}

button {
	border: none;
	font-family: inherit;
}

.MyColorsOfProject {
	color: #d860f0;
	color: #9060f0;
	color: #a848a8; 
	color: #9030a8; 
	color: #9048c0;
 }