.prato {
    display: inline-flex;
    align-items: center;
    color:#FFFFFF; 
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;   
}

.prato::before {
    content: "";
    background-color:#9060f0;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

