.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9030a8;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px #FFF;
}

.card-project.-blue {
    background-color: #365FD0;
}

.logo.-second {
    width: 280px;
    height: 280px;
}

