.main-button {
    display: inline-block;
    background-color:#9060f0;
    box-shadow: 5px 5px 0px #000000;
    padding: 18px 20px;
    margin-right: 0;
    position: relative;
    font-size: 20px;
    color:#FFFFFF;
    text-decoration: none;
}

.main-button::after,
.main-button::before {
    content: "";
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: transform .3s ease-in-out;
    cursor: pointer;
    position: absolute;
}

.main-button::before {
    border-left: 2px solid black;
    border-right: 2px solid black;
    transform: scaleY(0);
}

.main-button::after {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    transform: scaleX(0)
}

.main-button:hover::before {
    transform: scaleY(1);
}

.main-button:hover::after {
    transform: scaleX(1);
}

.main-button.-full {
    width: 100%;
    
}

