.main-section {
    background-color: #d860f0;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #9030a8;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-color: #970AA4;
}

.main-section.-bgSecond1 {
    background-color: #943ED8;
}

.main-section.-bdBlack {    
    border-bottom: 10px solid #000;
}

